docker==3.5.1
kubernetes==10.0.1
pyyaml==4.2b1
cryptography>=3.2.1,<=3.3.1
requests>=2.32.2 # not directly required, pinned by Snyk to avoid a vulnerability
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
